.body{
    margin: 0;
    padding: 0;
}

.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.wrapper_chitiet{
    height: auto;
    width: 90%;
    margin: 0 auto;
}

i.fa.fa-plus.fa-style {
    font-size: 20px;
    color: #000;
}

i.fa.fa-minus.fa-style {
    font-size: 20px;
    color: #000;
}

i.fa.fa-plus.fa-style:hover {
    color: #ff0000;
}

i.fa.fa-minus.fa-style:hover {
    color: #ff0000;
}


.hinhanh_sanpham {

    float: left;
    width: 30%;
}

.chitiet_sanpham{
    float: left;
    width: 49%;
    margin: 0 10px;
}

input.themgiohang {
    border: none;
    background: brown;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
.header{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border: 1px solid #000;
    height: 180px;
    width: 100%;
}

.menu{
    border: 1px solid #039BE5;
    height: 50px;
    width: 100%;
    background: #24266d;
}   

ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    border: 1px solid ;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}

ul.list_menu li:hover {
    background: burlywood;
}

ul.list_menu li a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}

#main{
    border: 1px solid #000;
    height: auto;
    width: 100%;
}

.sidebar{
    border: 1px solid #000;
    height: 390px;
    width: 19%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #fff;
    list-style: none;
    line-height: 27px;
}

ul.list_sidebar li:hover {
    background: cadetblue;
}

ul.list_sidebar li a {
    text-align: left;
    text-decoration: none;
    color: #333fff;
    display: block;
}

ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}

.Maincontent{
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}    
ul.product_list li img {
    height: 190px;
}

ul.product_list li{
    width: 18%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
    height: 300px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list img {
    width: 100%;
}

p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

p.price_product {
    text-align: center;
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

.footer{
    height: 140px;
    width: 100%;
    background:#24266d;
}

p.footer {
    text-align: center;
    color: #000;
}
.clear {
    clear: both;
}
